src/main/mule/interface.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    <apikit:config name="prc-apispec-bookmyholiday-config" api="resource::2f608537-a5c2-4e14-8930-49c11e37a87c:prc-apispec-bookmyholiday:2.0.9:raml:zip:prc-apispec-bookmyholiday.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="prc-apispec-bookmyholiday-main">
        <http:listener path="/api/*" config-ref="HTTP_Listener_config">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="prc-apispec-bookmyholiday-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="prc-apispec-bookmyholiday-console">
        <http:listener path="/console/*" config-ref="HTTP_Listener_config">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="prc-apispec-bookmyholiday-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="put:\cabs:application\json:prc-apispec-bookmyholiday-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "resource added/updated successfully",
  booking_number: "{{bookingid}}"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="put:\hotels:application\json:prc-apispec-bookmyholiday-config">
		<flow-ref doc:name="call updateHotelDetails" doc:id="59981968-7609-4911-b9b0-014b9fcc2155" name="updateHotelDetails"/>
    </flow>
    <flow name="put:\cabs\(flight_id):application\json:prc-apispec-bookmyholiday-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="flight_id">attributes.uriParams.'flight_id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  booking_number: "123",
  booking_name: "ABC",
  origin: "CCU",
  destination: "BEN",
  price: {
    baseFare: 4000,
    taxes: 1000,
    total: 5000
  },
  currency: "INR",
  baggage: {
    total: 22,
    cabin: 7,
    checkin: 15
  },
  departure_date: "2022-02-23",
  return_date: "2022-02-23",
  startTime: "12:15:00",
  endTime: "16:45:00",
  noOfDays: 0,
  pnr: "PK134567",
  layOver: 2,
  noOfStops: 1,
  couponApplied: true,
  couponName: "500OFF"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="put:\hotels\(hotels_id):application\json:prc-apispec-bookmyholiday-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="hotels_id">attributes.uriParams.'hotels_id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  booking_number: "123",
  booking_name: "ABC",
  origin: "CCU",
  destination: "BEN",
  price: {
    baseFare: 4000,
    taxes: 1000,
    total: 5000
  },
  currency: "INR",
  baggage: {
    total: 22,
    cabin: 7,
    checkin: 15
  },
  departure_date: "2022-02-23",
  return_date: "2022-02-23",
  startTime: "12:15:00",
  endTime: "16:45:00",
  noOfDays: 0,
  pnr: "PK134567",
  layOver: 2,
  noOfStops: 1,
  couponApplied: true,
  couponName: "500OFF"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\cabs:prc-apispec-bookmyholiday-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    id: "1",
    name: "Ola Car Service SUV",
    number: "OLA-1235",
    description: "Affordable and secure Car Services",
    rating: 5,
    bookingTypes: [
      {
        bookingtype: "Petrol"
      }, 
      {
        bookingtype: "Diesel"
      }
    ],
    startDate: "2022-02-27",
    endDate: "2022-02-27",
    startTime: "12:15:00",
    endTime: "16:45:00",
    noOfDays: 1,
    layOver: 0,
    noOfStops: 0,
    stopLocation: [
      {
        location: ""
      }
    ],
    origin: [
      {
        locationCode: "BEN",
        locationDescription: "Bangalore"
      }
    ],
    destination: [
      {
        locationCode: "GOA",
        locationDescription: "Goa"
      }
    ],
    price: {
      baseFare: 4000,
      taxes: 1000,
      total: 5000
    },
    currency: "INR",
    baggage: {
      total: 3,
      cabin: 0,
      checkin: 0
    }
  }, 
  {
    name: "Ola Car Service DZire",
    id: "1",
    number: "OLA-123",
    description: "Affordable and secure Car Services",
    rating: 5,
    bookingTypes: [
      {
        bookingtype: "Petrol"
      }, 
      {
        bookingtype: "Diesel"
      }
    ],
    startDate: "2022-02-27",
    endDate: "2022-02-27",
    startTime: "12:15:00",
    endTime: "16:45:00",
    noOfDays: 1,
    layOver: 0,
    noOfStops: 0,
    stopLocation: [
      {
        location: ""
      }
    ],
    origin: [
      {
        locationCode: "BEN",
        locationDescription: "Bangalore"
      }
    ],
    destination: [
      {
        locationCode: "GOA",
        locationDescription: "Goa"
      }
    ],
    price: {
      baseFare: 4000,
      taxes: 1000,
      total: 5000
    },
    currency: "INR",
    baggage: {
      total: 2,
      cabin: 0,
      checkin: 0
    }
  }
]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\flights:prc-apispec-bookmyholiday-config">
        <flow-ref doc:name="call getFlightsFlow" doc:id="e6a60a08-7fe5-4bae-9a35-b86c08684ed8" name="getFlightsFlow" />
    </flow>
    <flow name="get:\hotels:prc-apispec-bookmyholiday-config">
        <flow-ref doc:name="call getHotelsFlow" doc:id="432eab45-170c-478b-b3b3-7ea02f6eeb68" name="getHotelsFlow" />
    </flow>
    <flow name="get:\flights\(flight_id):prc-apispec-bookmyholiday-config">
        <flow-ref doc:name="call getFlightFlow" doc:id="61467f94-66cf-41a5-97e8-99f1c1ffafd8" name="getFlightFlow" />
    </flow>
    <flow name="get:\cabs\(flight_id):prc-apispec-bookmyholiday-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="flight_id">attributes.uriParams.'flight_id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  id: "1",
  name: "Ola Car Service DZire",
  number: "Ola-12",
  bookingtype: "Petrol",
  rules: [
    {
      rule: "Only Two Bags Allowed"
    }, 
    {
      rule: "covid information"
    }
  ],
  images: [
    {
      image: "image1.jpg"
    }, 
    {
      image: "image2.jpg"
    }, 
    {
      image: "image3.jpg"
    }
  ],
  startDate: "2022-02-23",
  endDate: "2022-02-23",
  startTime: "12:15:00",
  endTime: "16:45:00",
  layOver: 0,
  noOfStops: 0,
  stopLocation: [],
  origin: [
    {
      locationCode: "HYD",
      locationDescription: "Hyderabad"
    }
  ],
  destination: [
    {
      locationCode: "BEN",
      locationDescription: "Bengaluru"
    }
  ],
  availability: 10,
  noOfDays: 0,
  noOfRooms: 0,
  roomType: "",
  bedSize: "",
  noOfAdults: 2,
  noOfChildrens: 0,
  price: {
    baseFare: 4000,
    taxes: 1000,
    total: 5000
  },
  currency: "INR",
  availableCoupons: [
    {
      code: "500OFF",
      description: "Use this coupon to get Rupees 500 discount on purchase of 5000 and above.",
      rule: "price > 5000"
    }, 
    {
      code: "100OFF",
      description: "Use this coupon to get Rupees 100 discount on purchase of 1000 and above.",
      rule: "price > 1000"
    }
  ],
  baggage: {
    total: 2,
    cabin: 0,
    checkin: 0
  },
  cancellationPolicy: [
    {
      timeFrame: "0-2 Hours",
      charges: "5000"
    }, 
    {
      timeFrame: "2-72 Hours",
      charges: "3000"
    }, 
    {
      timeFrame: "more than 72 Hours",
      charges: "500"
    }
  ],
  reschedulePolicy: [
    {
      timeFrame: "0-2 Hours",
      charges: "4000"
    }, 
    {
      timeFrame: "2-72 Hours",
      charges: "2000"
    }, 
    {
      timeFrame: "more than 72 Hours",
      charges: "200"
    }
  ]
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\hotels\(hotels_id):prc-apispec-bookmyholiday-config">
        <flow-ref doc:name="call getHotelFlow" doc:id="dd15c7c6-9b12-4def-a45f-4f1a0ffde638" name="getHotelFlow" />
    </flow>
    <flow name="post:\flights\(flight_id)\booking:application\json:prc-apispec-bookmyholiday-config">
        <flow-ref doc:name="call bookFlight" doc:id="16736187-78f6-478f-ae50-730fdab297e5" name="bookFlight" />
    </flow>
    <flow name="post:\cabs:application\json:prc-apispec-bookmyholiday-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "resource added/updated successfully",
  booking_number: "{{bookingid}}"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\flights:application\json:prc-apispec-bookmyholiday-config">
        <flow-ref doc:name="call addFlight" doc:id="cdd3032b-9f8e-4b18-a3ac-46fd864307af" name="addFlight" />
    </flow>
    <flow name="post:\hotels:application\json:prc-apispec-bookmyholiday-config">
		<flow-ref doc:name="call addHotel" doc:id="2bd7aaa0-0512-42a8-accb-f1604d76dbac" name="addHotel"/>
    </flow>
    <flow name="post:\cabs\(flight_id):application\json:prc-apispec-bookmyholiday-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="flight_id">attributes.uriParams.'flight_id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  booking_number: "123",
  booking_name: "ABC",
  origin: "CCU",
  destination: "BEN",
  price: {
    baseFare: 4000,
    taxes: 1000,
    total: 5000
  },
  currency: "INR",
  baggage: {
    total: 22,
    cabin: 7,
    checkin: 15
  },
  departure_date: "2022-02-23",
  return_date: "2022-02-23",
  startTime: "12:15:00",
  endTime: "16:45:00",
  noOfDays: 0,
  pnr: "PK134567",
  layOver: 2,
  noOfStops: 1,
  couponApplied: true,
  couponName: "500OFF"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\hotels\(hotels_id):application\json:prc-apispec-bookmyholiday-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="hotels_id">attributes.uriParams.'hotels_id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  booking_number: "123",
  booking_name: "ABC",
  origin: "CCU",
  destination: "BEN",
  price: {
    baseFare: 4000,
    taxes: 1000,
    total: 5000
  },
  currency: "INR",
  baggage: {
    total: 22,
    cabin: 7,
    checkin: 15
  },
  departure_date: "2022-02-23",
  return_date: "2022-02-23",
  startTime: "12:15:00",
  endTime: "16:45:00",
  noOfDays: 0,
  pnr: "PK134567",
  layOver: 2,
  noOfStops: 1,
  couponApplied: true,
  couponName: "500OFF"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="put:\flights\(flight_id)\booking:application\json:prc-apispec-bookmyholiday-config">
        <flow-ref doc:name="call cancelFlight" doc:id="42202eaf-9f96-4d05-a128-e1106ec7bc51" name="cancelFlight" />
    </flow>
    <flow name="put:\hotels\(hotels_id)\booking:application\json:prc-apispec-bookmyholiday-config">
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="hotels_id">attributes.uriParams.'hotels_id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  booking_number: "123",
  booking_name: "ABC",
  origin: "CCU",
  destination: "BEN",
  price: {
    baseFare: 4000,
    taxes: 1000,
    total: 5000
  },
  currency: "INR",
  baggage: {
    total: 22,
    cabin: 7,
    checkin: 15
  },
  departure_date: "2022-02-23",
  return_date: "2022-02-23",
  startTime: "12:15:00",
  endTime: "16:45:00",
  noOfDays: 0,
  pnr: "PK134567",
  layOver: 2,
  noOfStops: 1,
  couponApplied: true,
  couponName: "500OFF"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\hotels\(hotels_id)\booking:application\json:prc-apispec-bookmyholiday-config">
        <flow-ref doc:name="call bookHotel" doc:id="d7059b3b-8452-44c5-b27b-5802d90937ba" name="bookHotel" />
    </flow>
</mule>
